// sidebar
.sidebar {
    transition: max-width 0.5s, box-shadow 0.5s;
    max-width: $sidebarWidth;
    min-width: $sidebarWidth;
    width: auto !important;
}

.sidebar {
    white-space: nowrap;
}

.sidebar:hover {
    max-width: 50vw;
    box-shadow: 1px 0px 10px 5px #eaecef;
}
